* {
    box-sizing: border-box;
}

#mocha .test pre.error {
    white-space: pre-wrap;
}

.tester {
    width: 300px;
    background: lightgreen;
    font-size: 72px;
    line-height: 1;
    margin: 15px auto;
}

.tester:last-child {
    background: powderblue;
}
