{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "mocha": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "arrow-body-style": [
      "error",
      "always"
    ],
    "one-var": [
      "error",
      {
        "let": "always",
        "const": "consecutive",
        "var": "always",
        "separateRequires": true
      }
    ],
    "key-spacing": [
      "error",
      {
        "afterColon": true,
        "mode": "minimum",
        "align": "value"
      }
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "comma-dangle": [
      "error",
      "only-multiline"
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "ignore",
        "named": "always",
        "asyncArrow": "always"
      }
    ],
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-multi-spaces": [
      "error",
      {
        "ignoreEOLComments": true,
        "exceptions": {
          "AssignmentExpression": true,
          "Property": true,
          "VariableDeclarator": true,
          "ImportDeclaration": true
        }
      }
    ],
    // At least until private fields are a thing for classes!
    "no-underscore-dangle": "off",
    // So you can align variables under their declarator
    "indent": "off",
    "brace-style": [
      "error",
      "stroustrup",
      {
        "allowSingleLine": true
      }
    ]
  }
}
